@import "tailwindcss";

:root {
  --mainRed: #99331A;
  --darkOrange: #842C16;
  --lightOrange: #FFFBF9;
  --black: #0D0D0D;
  --white: #FFFFFF;
  --grayLight: #F5F5F5;
  --grayDark: #565656;
}

@theme inline {
  --color-background: var(--lightOrange);
  --color-white-background: var(--white);
  --color-mainRed: var(--mainRed);
  
  --font-inter: "inter";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--lightOrange);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
